table,th,td{
	border: 2px solid black;
	border-collapse: collapse;
	margin: auto;
	padding: 10px;
	text-align: center;
}

table{
	border-radius: 10px;
	box-shadow: 4px 0px 4px 0px  grey;
}

.heading{
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: blueviolet;
}
